{% load i18n %}
<div id="tcu-config" class="tab-content">
    <div class="flex flex-col md:flex-row gap-3 sm:gap-4" style="min-height: 500px;">
    <div class="mb-6 max-w-350 min-w-200 md:w-full" style="flex: 0; min-width: 250px">
        <h2 class="text-lg font-semibold text-gray-800 dark:text-gray-200 mt-4 flex items-center">{% translate "TCU Configuration" %}</h2>
        <div id="config-screen-btns" class="mt-2 space-y-2"></div>
    </div>
    <div id="config-screen-frames" class="flex-1" style="min-height: 300px">
        <div class="config-screen active">
            <div class="h-100 mb-4 rounded-md flex items-center justify-center">
                <p>{% translate "Select a menu to get started" %}</p>
            </div>
        </div>
    </div>
   </div>
    <template id="tcuConfigMenuBtn">
        <button class="config-btn items-start justify-between p-2 bg-gray-50 dark:bg-gray-500 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 transition" style="width: 100%">
            <span class="text-gray-700 active:text-gray-300 dark:text-gray-300 font-medium mx-3 text-sm config-btn-label"></span>
        </button>
    </template>
    <template id="tcuConfigMenuFrame">
        <div class="config-screen p-4 rounded-lg bg-gray-50 dark:bg-gray-900">
            <div class="flex flex-col h-100">
                <div class="config-screen-fields sm:gap-4 flex-1"></div>
                <div class="config-screen-actionbar">
                    <button class="config-screen-request text-white bg-yellow-700 disabled:bg-yellow-900 hover:bg-yellow-800 font-medium rounded-lg text-sm px-4 py-2 mt-5" type="button">{% translate "Request current configuration" %}</button>
                    <button class="config-screen-save text-white bg-blue-700 disabled:bg-blue-900 hover:bg-blue-800 font-medium rounded-lg text-sm px-4 py-2 mt-5" type="button">{% translate "Send" %}</button>
                </div>
            </div>
        </div>
    </template>
    <template id="tcuConfigOptionalField">
        <div data-field-group class="w-full rounded-lg border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-800 mb-5">
          <label class="flex items-center gap-2 mb-3 font-medium text-gray-800 dark:text-gray-100 cursor-pointer select-none p-3">
            <input
              type="checkbox"
              data-toggle
              class="h-4 w-4 rounded border-gray-300 dark:border-gray-600 text-blue-600 focus:ring-blue-500 dark:bg-gray-700"
            >
            {% translate "Modify value" %}
          </label>
            <hr class="border-gray-300 dark:border-gray-700"/>
          <div class="tcu-config-itm-fields gap-3 p-5 w-full"></div>
        </div>
    </template>
    {{ tcu_config_template|json_script:"config_template" }}
    <script>
        function configureConfigButtons() {
            const configButtons = document.querySelectorAll('.config-btn');
            const configContents = document.querySelectorAll('.config-screen');

            configButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const configId = button.getAttribute('data-config');

                    configButtons.forEach(btn => {
                        btn.classList.remove('bg-blue-800');
                        btn.classList.add('bg-gray-50', 'dark:bg-gray-500', 'hover:bg-gray-100', 'dark:hover:bg-gray-600');
                    });
                    configContents.forEach(content => content.classList.remove('active'));
                    button.classList.remove('bg-gray-50', 'dark:bg-gray-500', 'hover:bg-gray-100', 'dark:hover:bg-gray-600');
                    button.classList.add('bg-blue-800');
                    document.getElementById(configId).classList.add('active');

                });
            });
        }
    </script>
    <script>
        let tcuConfigTemplate = {};
        let currentValues = {};
        const CONFIG_REQ_ID = 15;
        const tcuConfigFrames = document.getElementById("config-screen-frames");
        const tcuConfigButtons = document.getElementById("config-screen-btns");
        const checkboxStyle = [
            "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600",
            "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"];
        const inputStyle = [
            "w-full p-2 rounded border invalid:bg-red-700 dark:bg-gray-700 dark:border-gray-700 mt-1",
            "block my-2 text-sm font-medium text-gray-900 dark:text-white",
        ]
        const provisioningOpts = [["0","{% translate 'Unmodified' %}"],["1", "{% translate 'Deactivate' %}"],["2","{% translate 'Activate' %}"]]


        function makeFieldElement(config_code, code, field) {
            let holder;
            let confHolder;
            if (field.optional && field.type !== 4) {
                confHolder = document.getElementById("tcuConfigOptionalField").content.children[0].cloneNode(true);
                const confCbox = confHolder.querySelector("input[type='checkbox']");
                confCbox.id = `${config_code}-${code}-opt`
                function sync() {
                    let inputs = confHolder.querySelectorAll('.tcu-config-itm-fields input, .tcu-config-itm-fields select, .tcu-config-itm-fields textarea');
                    inputs.forEach(function (el) {
                        el.disabled = !confCbox.checked;
                    });
                }
                confCbox.addEventListener('change', sync);
                holder = confHolder.querySelector('.tcu-config-itm-fields');
            } else {
                confHolder = document.createElement("div");
                holder = confHolder;
                confHolder.className = "flex mb-4";
            }
            switch (field.type) {
                case 0: {
                    holder.classList.add("flex-col")
                    let input = document.createElement("input");
                    input.id = `${config_code}-${code}`;
                    input.className = inputStyle[0];
                    input.type = "number"
                    input.required = true;
                    input.disabled = field.optional;

                    if (currentValues[config_code])
                        input.value = currentValues[config_code]
                    if (field.max)
                        input.max = field.max
                    if (field.min)
                        input.min = field.min

                    let inputLabel = document.createElement("label");
                    inputLabel.htmlFor = input.id;
                    inputLabel.className = inputStyle[1];
                    inputLabel.textContent = field.label

                    holder.appendChild(inputLabel)
                    holder.appendChild(input)
                    break
                }
                case 1: {
                    holder.classList.add("flex-row", "items-center")
                    let input = document.createElement("input");
                    input.id = `${config_code}-${code}`;
                    input.className = checkboxStyle[0];
                    input.value = "true"
                    input.type = "checkbox"
                    input.checked = currentValues[config_code] === 1 ? "checked" : ""
                    input.disabled = field.optional;

                    let inputLabel = document.createElement("label");
                    inputLabel.htmlFor = input.id;
                    inputLabel.className = checkboxStyle[1];
                    inputLabel.textContent = field.label

                    holder.appendChild(input)
                    holder.appendChild(inputLabel)
                    break
                }
                case 2:
                case 3: {
                    holder.classList.add("flex-col")
                    let input = document.createElement("input");
                    input.id = `${config_code}-${code}`;
                    input.className = inputStyle[0];
                    input.type = "text"
                    input.required = true;
                    input.disabled = field.optional;

                    if (currentValues[config_code])
                        input.value = currentValues[config_code]
                    if (field.max)
                        input.maxLength = field.max
                    if (!field.max && field.length)
                        input.maxLength = field.length
                    if (field.min)
                        input.minLength = field.min

                    let inputLabel = document.createElement("label");
                    inputLabel.htmlFor = input.id;
                    inputLabel.className = inputStyle[1];
                    inputLabel.textContent = field.label
                    holder.appendChild(inputLabel)
                    holder.appendChild(input)
                    break
                }
                case 4: {
                    holder.classList.add("flex-col")
                    let input = document.createElement("select");
                    input.id = `${config_code}-${code}`;
                    input.className = inputStyle[0];
                    input.required = true;

                    for (let itm of provisioningOpts) {
                        let option = document.createElement("option");
                        option.value = itm[0]
                        option.textContent = itm[1]
                        input.appendChild(option);
                    }

                    let inputLabel = document.createElement("label");
                    inputLabel.htmlFor = input.id;
                    inputLabel.id = `l-${input.id}`
                    inputLabel.className = inputStyle[1];
                    inputLabel.textContent = field.label
                    if (currentValues[config_code])
                        inputLabel.textContent = `${field.label} ({% translate "Last value:" %} ${provisioningOpts[currentValues[config_code]+1][1]})`
                    holder.appendChild(inputLabel)
                    holder.appendChild(input)
                    break
                }
                case 5: {
                    holder.classList.add("flex-col")
                    let input = document.createElement("select");
                    input.id = `${config_code}-${code}`;
                    input.className = inputStyle[0];
                    input.required = true;

                    const confOptions = field.options ?? [];

                    for (let itm of confOptions) {
                        let option = document.createElement("option");
                        option.value = itm[0]
                        option.textContent = itm[1]
                        input.appendChild(option);
                    }

                    let inputLabel = document.createElement("label");
                    inputLabel.htmlFor = input.id;
                    inputLabel.id = `l-${input.id}`
                    inputLabel.className = inputStyle[1];
                    inputLabel.textContent = field.label
                    if (currentValues[config_code])
                        inputLabel.textContent = `${field.label} ({% translate "Last value:" %} ${confOptions[currentValues[config_code]][1]})`
                    holder.appendChild(inputLabel)
                    holder.appendChild(input)
                    break
                }
            }
            return confHolder
        }

        function addTcuConfigMenu(code, name, fields, query) {
            const button = document.getElementById("tcuConfigMenuBtn").content.children[0].cloneNode(true);
            button.dataset.config = code
            button.getElementsByClassName('config-btn-label')[0].textContent = name;

            const frame = document.getElementById("tcuConfigMenuFrame").content.children[0].cloneNode(true);
            frame.id = code;
            const configItems = frame.getElementsByClassName("config-screen-fields")[0];
            for (let fieldKey of Object.keys(fields)) {
                configItems.appendChild(makeFieldElement(code, fieldKey, fields[fieldKey]));
            }
            const requestBtn = frame.getElementsByClassName("config-screen-request")[0];
            if (!query)
                requestBtn.className = 'hidden'
            const sendBtn = frame.getElementsByClassName("config-screen-save")[0];
            requestBtn.addEventListener('click', () => {requestCurrentConfig(code)});
            sendBtn.addEventListener('click', () => {sendCurrentConfig(code)});
            tcuConfigFrames.appendChild(frame);
            tcuConfigButtons.appendChild(button);
            registerOptionalFieldListeners();
        }

        function requestCurrentConfig(code) {
            sendCommand(CONFIG_REQ_ID, {
                "type": "current",
                "config_type": code
            })
        }

        function sendCurrentConfig(code) {
            let newConfig = {};
            try {
                let fields = tcuConfigTemplate[code]["fields"];
                for (let fieldKey of Object.keys(fields)) {
                    let fieldInfo = fields[fieldKey];
                    if (fieldInfo.optional) {
                        let optionalBox = document.getElementById(`${code}-${fieldKey}-opt`)
                        if (!optionalBox.checked)
                            continue;
                    }
                    let fieldInput = document.getElementById(`${code}-${fieldKey}`);
                    switch (fieldInfo.type) {
                        case 0: {
                            const value = fieldInput.value;
                            if (fieldInfo.max && value > fieldInfo.max) {
                                throw new Error(`${fieldInfo.label} {% translate "is more than" %} ${fieldInfo.max}`);
                            }
                            if (fieldInfo.min && value < fieldInfo.min) {
                                throw new Error(`${fieldInfo.label} {% translate "is less than" %} ${fieldInfo.min}`);
                            }
                            newConfig[fieldKey] = parseInt(value);
                            break
                        }
                        case 1: {
                            newConfig[fieldKey] = fieldInput.value === "true"
                            break
                        }
                        case 2:
                        case 3: {
                            const value = fieldInput.value;
                            if (fieldInfo.max && value > fieldInfo.max) {
                                throw new Error(`${fieldInfo.label} {% translate "is more than" %} ${fieldInfo.max} {% translate "character(s)" %}`);
                            }
                            if (fieldInfo.length && value > fieldInfo.length) {
                                throw new Error(`${fieldInfo.label} {% translate "is more than" %} ${fieldInfo.max} {% translate "character(s)" %}`);
                            }
                            if (fieldInfo.min && value < fieldInfo.min) {
                                throw new Error(`${fieldInfo.label} {% translate "is less than" %} ${fieldInfo.min} {% translate "character(s)" %}`);
                            }
                            if (value.length > 0 && fieldInfo.type === 2 && !/^[\x00-\x7F]*$/.test(value)) {
                                throw new Error(`${fieldInfo.label} {% translate "value only accepts following characters:" %} ASCII`);
                            }
                            if (value.length > 0 &&  fieldInfo.type === 2 && !value.isWellFormed()) {
                                throw new Error(`${fieldInfo.label} {% translate "value only accepts following characters" %} Unicode`);
                            }
                            newConfig[fieldKey] = value
                            break
                        }
                        case 4: {
                            const value = Number.parseInt(fieldInput.value);
                            if (value < 0 || value > 2) {
                                throw new Error(`${fieldInfo.label} {% translate "value is out of range" %}`)
                            }
                            if (value > 0)
                                newConfig[fieldKey] = value
                            break
                        }
                        case 5: {
                            const confOpts = fieldInfo.options.map(i => i[0])
                            if (!fieldInput.value || !confOpts.includes(fieldInput.value)) {
                                throw new Error(`${fieldInfo.label} {% translate " has invalid choice" %}`)
                            }
                            newConfig[fieldKey] = fieldInput.value
                            break
                        }
                    }
                }
            }  catch (e) {
                showNotification({title: '{% translate "Error sending command" %}', message: e.message ?? e, type: 'error'})
                return;
            }
            if (Object.keys(newConfig).length < 1) {
                showNotification({title: '{% translate "Error sending command" %}', message: "{% translate "No changes to send!" %}", type: 'error'})
                return;
            }
            sendCommand(CONFIG_REQ_ID, {
                "type": "send",
                "config_type": code,
                "data": newConfig
            })
        }

        function updateFicosaConfigStatus(car) {
            currentValues = car.tcu_configuration.ficosa_config
            Array.from(document.getElementsByClassName("config-screen-request")).forEach(i => {i.disabled = car.command_requested})
            Array.from(document.getElementsByClassName("config-screen-save")).forEach(i => {i.disabled = car.command_requested})
            for (let key of Object.keys(car.tcu_configuration.ficosa_config)) {
                let template = car.tcu_configuration.ficosa_config[key];
                for (let configKey of Object.keys(template)) {
                    console.log(key, configKey);
                    let configVal = template[configKey];
                    let configElem = document.getElementById(`${key}-${configKey}`);
                    if (configElem.type === "checkbox") {
                        configElem.checked = configVal === 1 ? "checked" : ""
                    } else if (configElem.tagName.toLowerCase() === "select") {
                        const labelItm = document.getElementById(`l-${key}-${configKey}`)
                        console.log(key, configKey);
                        let fieldLabel = tcuConfigTemplate[key]["fields"][configKey]["label"];
                        labelItm.textContent = `${fieldLabel} ({% translate "Last value:" %} ${provisioningOpts[configVal+1][1]})`
                    } else {
                        configElem.value = configVal.toString();
                    }
                }
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            tcuConfigTemplate = JSON.parse(document.getElementById('config_template').textContent);
            for (let key of Object.keys(tcuConfigTemplate)) {
                let template = tcuConfigTemplate[key];
                addTcuConfigMenu(key, template["label"], template["fields"], template["query_support"]);
            }
            configureConfigButtons();
        });

        function registerOptionalFieldListeners() {
            document.querySelectorAll('[data-field-group]').forEach(function (group) {
            let toggle = group.querySelector('[data-toggle]');
            let inputs = group.querySelectorAll('.tcu-config-itm-fields input, .tcu-config-itm-fields select, .tcu-config-itm-fields textarea');

            function sync() {
              inputs.forEach(function (el) {
                el.disabled = !toggle.checked;
              });
            }

            toggle.addEventListener('change', sync);
            sync();
          });
        }
    </script>
</div>