{% extends 'ui/base.html'%}
{% load math_filters %}
{% load i18n %}
{% load static %}
{% block title %} {% translate "My cars" %} {% endblock %}

{% block content %}

    <!-- Car List -->
    <div class="max-w-6xl mx-auto py-10 px-4">
        <!-- Messages -->
        <div id="messages" class="mb-6">
            {% if messages %}
                {% for message in messages %}
                    <div class="{% if message.tags == 'error' %}bg-red-100 border-red-400 text-red-700{% endif %} px-4 py-3 rounded relative {% if message.tags == 'success' %}bg-green-100 border-green-400 text-green-700{% endif %} {% if message.tags == 'info' %}bg-blue-100 border-blue-400 text-blue-700{% endif %} {% if message.tags == 'warning' %}bg-yellow-100 border-yellow-400 text-yellow-700{% endif %}" role="alert">
                        <strong class="font-bold">
                            {% if message.tags == 'success' %}{% translate "Success" %}!{% endif %}
                            {% if message.tags == 'error' %}{% translate "Error" %}!{% endif %}
                            {% if message.tags == 'info' %}{% translate "Notice" %}:{% endif %}
                            {% if message.tags == 'warning' %}{% translate "Warning" %}:{% endif %}
                        </strong>
                        <span class="block sm:inline">{{ message }}</span>
                        <span class="absolute top-0 bottom-0 right-0 px-4 py-3 cursor-pointer" onclick="this.parentElement.style.display='none';">
                            <svg class="fill-current h-6 w-6" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <title>{% translate "Close" %}</title>
                                <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
                            </svg>
                        </span>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <h1 class="text-3xl font-semibold text-gray-800 dark:text-gray-200 mb-6 flex items-center">{% translate "My cars" %} <a href="/setup/step1" class="ml-2 px-2 py-1 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">{% translate "Add" %}</a></h1>
        <div class="mb-6 flex flex-wrap gap-2">
            <a href="/static/navi_guide2.html" target="_blank" class="px-3 py-2 text-sm font-medium text-center text-white bg-gray-600 rounded-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300">Гайд по настройке магнитолы</a>
            <a href="/static/tcu_guide2.html" target="_blank" class="px-3 py-2 text-sm font-medium text-center text-white bg-gray-600 rounded-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300">Гайд по настройке TCU</a>
            <a href="/static/data_guide.html" target="_blank" class="px-3 py-2 text-sm font-medium text-center text-white bg-gray-600 rounded-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300">Гайд по каналу данных</a>
        </div>
        <div class="space-y-4">
            {% for car in cars %}
                <a href="{% url 'car_detail' car.vin %}" class="flex bg-white dark:bg-gray-800 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-200">
                    {% with 'car/'|add:car.color|add:'.png' as car_static %}
                         <img src="{% static car_static %}" style="padding-right: 15px; max-height: 50px; object-fit: cover"/>
                    {% endwith %}
                    <div>
                        <h5 class="text-lg font-semibold text-gray-800 dark:text-gray-200 mb-1 align-center content-center flex flex-row items-center">
                            {{ car.nickname }}
                            {% now "U" as current_time %}
                            {% if car.last_connection %}
                                {% with last_connection_time=car.last_connection|date:"U" %}
                                    {% with diff_time=current_time|subtract:last_connection_time %}
                                        <span id="connection-status" class="connection-status
                                            {% if diff_time <= 3600 or diff_time < 0 %}
                                                green
                                            {% elif diff_time >= 1209600 %}
                                                red
                                            {% else %}
                                                yellow
                                            {% endif %}
                                        "></span>
                                    {% endwith %}
                                {% endwith %}
                            {% else %}
                                <span id="connection-status" class="connection-status red"></span>
                            {% endif %}
                        </h5>
                        <span class="text-sm text-gray-600 dark:text-gray-400">VIN: {{ car.vin }}</span>
                        {% if car.last_connection %}
                        <p class="text-sm text-gray-500 dark:text-gray-400">{% translate "Last connected" %}: {{ car.last_connection }}</p>
                        {% endif %}
                    </div>
                </a>
            {% empty %}
                <div class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow-md">
                    <p class="text-gray-600 dark:text-gray-300">{% translate "No cars added." %}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}